################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.Service/obj/Debug
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.iOS/obj/iPhone/Debug
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/obj/Debug
/ArcTouch.TestDevelopment/packages
