################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.Service/obj/Debug
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.iOS/obj/iPhone/Debug
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/obj/Debug
/ArcTouch.TestDevelopment/packages
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/bin/Debug
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.Droid/bin/Debug
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.Droid/obj/Debug
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.iOS/bin/iPhone/Debug
/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.Service/bin/Debug
