################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArcTouch.TestDevelopment/ArcTouch.TestDevelopment.Service/obj/Debug
